---
import Layout from "../../layouts/Default.astro";
import "../../styles/page.css";
const { id } = Astro.params;
---

<Layout>
    <h1>{id}</h1>
    <video class="showcase" controls>
        <source src={`/assets/videos/${id}`} type="video/mp4"/>
    </video>
</Layout>