---
import Layout from "../layouts/Default.astro";
import "../styles/page.css";
import Skills from "../components/Skills/Skills.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <div>
    <Skills/>
    <p>[ projects ]</p>
    <Projects />
  </div>
</Layout>
